<div class="container">
  <form [formGroup]="orderBookForm" (ngSubmit)="createOrderBook()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>Order Book Number</label>
      <input type="text" class="form-control" formControlName="orderBookNumber" required autofocus/>
    </div>
    <div class="form-group">
      <label>Banks</label>
      <input type="number" class="form-control" formControlName="banks" required/>
    </div>
    <div class="form-group">
      <label>Hedge Funds</label>
      <input type="number" class="form-control" formControlName="hedgefunds" required/>
    </div>
    <div class="form-group">
      <label>FII</label>
      <input type="text" class="form-control" formControlName="fii" required/>
    </div>
    <div class="form-group">
      <label>Closing Date</label>
      <input type="date" class="form-control" formControlName="closingDate" required/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create Order Book</button>
    </div>
  </form>
</div>
