<div class="container">
  <form [formGroup]="bondForm" (ngSubmit)="createBond()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>ISIN Code</label>
      <input type="text" class="form-control" formControlName="ISINCode" required autofocus/>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" required/>
    </div>
    <div class="form-group">
      <label>Coupon Type</label>
      <input type="text" class="form-control" formControlName="couponType" required/>
    </div>
    <div class="form-group">
      <label>Maturity Date</label>
      <input type="date" class="form-control" formControlName="maturityDate" required/>
    </div>
    <div class="form-group">
      <label>Maturity Value</label>
      <input type="number" class="form-control" formControlName="maturityValue" required/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create Bond</button>
    </div>
  </form>
</div>
